*
!Templates/
!Templates/**
!.obsidian/
!.obsidian/**

# Webclipper Templates
!.clipper-templates/
!.clipper-templates/**

# Obsidian state
.obsidian/workspace.json
.obsidian/graph.json

# Other
.DS_Store
!.gitignore
